body {
  font-family: Google Sans, arial, sans-serif;
}

h1 {
  color: #343b7f;
  font-size: 24px;
  line-height: 28px;
  font-weight: 100;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #878787;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize; /* с большой буквы */
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #343b7f;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
